:root {
    --primary-text-color: #000000;
    --title-text-color: #212121 ;
    --accent-color: #2196F3 ;
    --contact-text-color: #757575;
    --body-color: #FFFFFF;
    --background-primary-color: #2F303A;
    --filter-text-color: #F5F4FA; 
}



/*Body*/

body {
    font-family: "Roboto", sans-serif;
    color: var(--title-text-color);
    background-color: var(--body-color);
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}


/*Logo*/

.logo {
    color: var(--primary-text-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1,19;
    text-decoration: none;
}

.logo-header {
    color: var(--accent-color);
}


/* Site nav*/

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}

/*Contacts*/

.contacts { 
    color: var(--contact-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}

/*Hero*/
 
.hero-title {
    color: var(--body-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
}

/*Button*/

.button {
    color: var(--body-color);
    background-color:var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: grabbing;
}

/*Section*/

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

/*Features*/

.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.feature-list {
    color: var(--contact-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}


/*Team*/

.team-list {
    color: var(--contact-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}

.team-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
}


/*Footer*/

.logo-footer {
    color: var(--body-color);
}

.footer-style {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em
}

.location {
    color: var(--body-color);
}


/*Portfolio*/

/*Filters*/

.filter {
    color: var(--title-text-color);
    background-color: var(--filter-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: grabbing;
}

.filter:hover,
.filter:focus{
    color: var(--body-color);
    background-color: var(--accent-color);
}


/*Portfolio-list*/

.portfolio-list {
    color: var(--contact-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.portfolio-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}









